<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tambah data</title>
  <link rel="stylesheet" href="../style.css">
</head>
<style>
  body {
    width: 100vw;
    height: 100vh;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
  }
  .form {
    width: 75%;
  }
  input {
    display: block;
  }
</style>

<body>
  <form action="/product/post" method="post">
    <div class="form">
      <label>Name</label>
      <input type="text" name="name" id="name">
      <label>Price</label>
      <input type="text" name="price" id="price">
      <label>Stock</label>
      <input type="text" name="stock" id="stock">
      <div class="btn"> <button type="submit">Tambah</button></div>
    </div>
  </form>

  <!-- <script src="/index.js"></script> -->
</body>

</html>